# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log

# Virtual Environment
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# dotenv (optional, kalo ada config rahasia)
.env
*.env
